@import "../_globalstyle/_ringer-variables.less";

.action-pane {
  display: flex;
  width: 500px;
  height: 250px;
  background-color: @off-white-background;
  margin-left: auto;
  margin-right: auto;
  margin-top: 5vh;
  transition: box-shadow 150ms ease-in;
  transition: margin-top 150ms ease-in;

  border-radius: 10px;
  &:hover {
    box-shadow: 0px 2px 5px 2px rgba(0, 0, 0, 0.3);
    margin-top: 4.5vh;
  }

  .action-pane-content-container {
    width: 100%;
    height: 100%;
    margin: 10px;
    .summoner-name-container {
      width: 50%;
    }
    .action-pane-header {
      margin: 10px auto 0px auto;
    }
  }
}
