@import "../_globalstyle/_ringer-variables.less";

.action-pane {
  display: flex;
  width: 400px;
  height: 250px;
  background-color: @off-white-background-2;
  margin-left: auto;
  margin-right: auto;
  // margin-top: 60px;
  box-shadow: 3px 4px 2px 0 rgba(0, 0, 0, 0.3);
  border-radius: 10px;

  .action-pane-content-container {
    width: 100%;
    height: 100%;
    .action-pane-header {
      margin: 10px auto 0px auto;
    }
  }
}
