/* style variables shared across the entire project */
@dark-grey-font-color: #2b2b2b;
@header-height: 80px;
@light-grey: #e9e3e3;
@off-white-background: #f4f4f4;
@off-white-background-2: #fbfbfb;
@light-blue: #6cc0e5;
@light-red: #fb4f4f;
