/* style variables shared across the entire project */
@blue-bg-color: rgba(76, 111, 211, 0.8);
@charcoal-font-color: #424344;
@dark-grey-font-color: #2b2b2b;
@header-height: 60px;
@light-grey: #e9e3e3;
@input-placeholder-grey: #ccc;
@off-white-background: #f4f4f4;
@off-white-background-2: #fbfbfb;
@light-blue: #6cc0e5;
@light-red: #fb4f4f;

@input-border-radius: 4px;
