/* style variables shared across the entire project */

//colors
@blue-bg-color: rgba(76, 111, 211, 0.8);
@charcoal-font-color: #424344;
@dark-grey-font-color: #2b2b2b;
@light-grey: #e9e3e3;
@input-placeholder-grey: #ccc;
@off-white-background: #f4f4f4;
@off-white-10-percent-darker: #e6e6e6;
@off-white-background-2: #fbfbfb;
@light-blue: #6cc0e5;
@light-red: #fb4f4f;
@highlighter: #fff070;

//sizes
@header-height: 60px;
@input-border-radius: 4px;
@large-component-border-radius: 10px;
@result-card-initial-width: 260px;
@rank-image-large-size: 100px;
@rank-image-small-size: 55px;

//margins and padding
@site-header-margins: 15px;
@bottom-pane-padding: 20px;
@result-card-margins: 5px;
@result-champion-spacing: 15px;
@result-row-and-grid-bottom-margin: 10px;

//elementstyles
@default-box-shadow-color: rgba(0, 0, 0, 0.2);
@default-icon-shadow-color: rgba(0, 0, 0, 0.4);

//media queries for screen widths
@desktop: ~"only screen and (min-width: 960px) and (max-width: 1199px)";
@tablet: ~"only screen and (min-width: 720px) and (max-width: 959px)";
@smalltablet: ~"only screen and (min-width: 451px) and (max-width: 719px)";
@mobile: ~"only screen and (min-width: 100px) and (max-width: 450px)";
@macbook: ~"only screen and (min-width: 860px) and (max-height: 800px)";
@smaller-than-desktop: ~"only screen and (max-width: 1100px)";
@smaller-than-tablet: ~"only screen and (min-width: 720px) and (max-width: 959px)";
@smaller-than-smalltablet: ~"only screen and (min-width: 451px) and (max-width: 719px)";

@allsmallscreens: ~"only screen and (max-width: 1000px)";

//mixins
.text-color-coding {
  &.low {
    color: #dc1104;
  }
  &.med {
    color: #bc2cbe;
  }
  &.high {
    color: #4444f8;
  }
}
