@import "../_globalstyle/_ringer-variables.less";

.top-pane {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 50%;
  background-color: @blue-bg-color;
  .top-pane-text-container {
    margin: @site-header-margins 0;
    color: @off-white-background-2;

    h1 {
      font-size: 3.5em;
    }
  }
}

//give more space for small monitors since we're not scrolling vertically
@media (max-height: @macbook-height) {
  .top-pane {
    flex-direction: row;

    .action-pane {
      margin-bottom: 5px;
    }
  }
}

//buy some more space for tablet widths
@media @tablet {
  .top-pane {
    .top-pane-text-container {
      h1 {
        font-size: 3em;
      }
    }
  }
}
