@import "../_globalstyle/_ringer-variables.less";

.top-pane {
  display: flex;
  color: @off-white-background-2;
  width: 100%;
  height: 40%;
  background-color: @blue-bg-color;
  border-bottom: 2px solid #e2e2e2;
  .top-pane-text-container {
    margin: auto;

    h1 {
      font-size: 3.5em;
      margin-top: 10vh;
    }
  }
  .top-pane-action-container {
    margin: auto 5vw;
    .action-pane {
      width: 450px;
      height: 350px;
      color: @charcoal-font-color;
    }
  }
}
