@import "../../_globalstyle/_ringer-variables.less";

.result-grid-container {
  margin-bottom: @result-row-and-grid-bottom-margin;
  .ag-theme-material {
    background: @off-white-background;
    //border-radius: @large-component-border-radius;
    .ag-paging-panel {
      color: @charcoal-font-color;
    }
    .ag-header-cell-label {
      width: 100%;
      justify-content: center;
    }
  }
  .ag-react-container {
    height: 100% !important;
    .grid-image-cell-container {
      display: flex;
      height: 100%;
      justify-content: center;
      &.grid-name-container {
        span {
          margin: auto;
          font-size: 16px;
          font-weight: bold;
        }
      }
    }
    .grid-rank-container {
      display: flex;
      height: 100%;
      margin-left: 10%;
    }
    .grid-top-champions-container {
      display: flex;
      height: 100%;
      li {
        display: flex;
        margin: auto;
      }
      .results-champion-container {
        border: none;
        padding: 0;
        margin-bottom: 0;

        .champion-image {
          margin: auto 8px auto 0;
          width: 50px;
          height: 50px;
        }
        span {
          display: flex;
          line-height: 1.25em;
          font-size: 12px;
          justify-content: left;
          font-weight: bold;
          &.champion-info-subtitle {
            font-size: 11px;
            font-weight: 600;
          }
        }
      }
    }
  }
}
