@import "../../_globalstyle/_ringer-variables.less";

@role-icon-width: 40px;
@role-icon-height: 40px;

.role-option-container {
  cursor: pointer;
  display: flex;
  flex-direction: column;
  // &.disabled {
  //   position: relative;
  //   &:before {
  //     content: "";
  //   }
  // }
  .role-option {
    margin-left: auto;
    margin-right: auto;
    width: @role-icon-width;
    height: @role-icon-height;
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: cover;
    border-radius: 50%;
    border: 1px solid black;
    box-shadow: 0px 0px 4px 2px rgba(0, 0, 0, 0.5);

    &.Mid {
      background-image: url("../../../images/mid.PNG");
    }
    &.Top {
      background-image: url("../../../images/top.PNG");
    }
    &.Jungle {
      background-image: url("../../../images/jng.PNG");
    }
    &.Bot {
      background-image: url("../../../images/bot.PNG");
    }
    &.Support {
      background-image: url("../../../images/sup.PNG");
    }
    &.Fill {
      background-image: url("../../../images/fill.PNG");
    }
  }
  &:hover {
    .role-option {
      box-shadow: 0px 0px 4px 4px rgba(0, 0, 0, 0.5);
    }
    .role-label {
      font-size: 15px;
      font-weight: bold;
    }
  }
  //inside the popup window
  &:not(.placeholder) {
    max-height: 75px;
    position: absolute;
    transform: translate(-50%, -50%);

    .role-label {
      color: @off-white-background-2;
      font-size: 18px;
      letter-spacing: 2px;
      margin-bottom: 4px;
      width: 85px;
    }

    &:hover {
      .role-option {
        box-shadow: 0px 0px 4px 4px rgba(0, 0, 0, 0.5);
      }
      .role-label {
        font-size: 20px;
        font-weight: bold;
      }
    }
  }
  //on the action pane, placeholders
  &.placeholder {
    width: 75px;
    .role-label {
      margin-bottom: 5px;
    }
  }
}
