@import "../../_globalstyle/_ringer-variables.less";

@midpoint-top: 25%;
@midpoint-left: 50%;
@jngbot-top: @midpoint-top + 8%;
@jngbot-side-offset: 15%;
@topsup-top: @midpoint-top + 21%;
@topsup-side-offset: 25%;
@fill-top: @midpoint-top + 45%;
.role-selector-container {
  #popUpDiv {
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 100;
    box-shadow: inset 0 0 0 3000px rgba(255, 255, 255, 0.6);
    display: none;
    top: 0;
    left: 0;
    &.is-open {
      display: flex;
      flex-direction: column;
      .option-container {
        position: absolute;
        box-shadow: inset 0 0 0 3000px rgba(255, 255, 255, 0.3);
        background-color: rgba(0, 0, 0, 0.95);
        top: 15%;
        bottom: 25%;
        right: 25%;
        left: 25%;
        border-radius: @large-component-border-radius;
        display: flex;
        flex-direction: column;

        h2 {
          margin: 5px auto auto;
          color: @off-white-background-2;
        }
        //top
        div.role-option-container:nth-of-type(1) {
          top: @topsup-top;
          left: @midpoint-left - @topsup-side-offset;
        }
        //jng
        div.role-option-container:nth-of-type(2) {
          top: @jngbot-top;
          left: @midpoint-left - @jngbot-side-offset;
        }
        //mid
        div.role-option-container:nth-of-type(3) {
          top: @midpoint-top;
          left: 50%;
        }
        //bot
        div.role-option-container:nth-of-type(4) {
          top: @jngbot-top;
          left: @midpoint-left + @jngbot-side-offset;
        }
        //sup
        div.role-option-container:nth-of-type(5) {
          top: @topsup-top;
          left: @midpoint-left + @topsup-side-offset;
        }
        //fill
        div.role-option-container:nth-of-type(6) {
          top: @fill-top;
          left: 50%;
        }
        //currently selected
        div.role-option-container:nth-of-type(7) {
          top: 50%;
          left: 50%;
        }
      }
    }
  }
  #popupSelect {
    z-index: 1000;
  }
}

@media @mobile {
  .role-selector-container {
    #popUpDiv {
      &.is-open {
        div.option-container {
          top: 0;
          bottom: 0;
          right: 0;
          left: 0;
          svg {
            position: absolute;
            top: 0;
            bottom: 0;
            right: 0;
            left: 0;
            width: 100%;
            height: 100%;
            transform: translateX(25%);
          }
          //top
          div.role-option-container:nth-of-type(1) {
            top: @topsup-top;
            left: @midpoint-left - (@topsup-side-offset * 1.4);
          }
          //jng
          div.role-option-container:nth-of-type(2) {
            top: @jngbot-top;
            left: @midpoint-left - (@jngbot-side-offset * 2);
          }
          //mid
          div.role-option-container:nth-of-type(3) {
            top: @midpoint-top;
            left: 50%;
          }
          //bot
          div.role-option-container:nth-of-type(4) {
            top: @jngbot-top;
            left: @midpoint-left + (@jngbot-side-offset * 2);
          }
          //sup
          div.role-option-container:nth-of-type(5) {
            top: @topsup-top;
            left: @midpoint-left + (@topsup-side-offset * 1.4);
          }
          //fill
          div.role-option-container:nth-of-type(6) {
            top: @fill-top;
            left: 50%;
          }
          //currently selected
          div.role-option-container:nth-of-type(7) {
            top: 50%;
            left: 50%;
          }
        }
      }
    }
  }
}

@media @tablet {
  .role-selector-container {
    #popUpDiv {
      &.is-open {
        div.option-container {
          top: 10%;
          bottom: 10%;
          right: 10%;
          left: 10%;
        }
      }
    }
  }
}

@media @macbook {
  .role-selector-container {
    #popUpDiv {
      &.is-open {
        div.option-container {
          right: 15%;
          left: 15%;
        }
      }
    }
  }
}
