@import "../../_globalstyle/_ringer-variables.less";

.role-window-container {
  #popUpDiv {
    z-index: 100;

    background-color: rgba(123, 123, 123, 0.8);
    display: none;
    top: 0;
    left: 0;
    width: 200px;
    height: 300px;
    &.is-open {
      display: block;
    }
  }
  #popupSelect {
    z-index: 1000;
  }
}
