@import "../../_globalstyle/_ringer-variables.less";

.role-option-container {
  width: 40px;
  height: 40px;
  background-image: url("../../../images/mid.PNG");
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover;
  margin-left: 10px;
  margin-right: 10px;
}
