@import "../src/components/_globalstyle/_ringer-variables.less";

body {
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow: hidden;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

@media @mobile {
  body {
    overflow-x: hidden;
    overflow-y: visible;
  }
  .app {
    height: 100%;
  }
  .top-pane {
    .top-pane-text-container {
      h1 {
        font-size: 1.5em;
      }
    }
  }
  .bottom-pane {
    flex-direction: column;
  }
}

//give more space for small monitors since we're not scrolling vertically
@media @macbook {
  .top-pane {
    flex-direction: row;
    .top-pane-text-container {
      max-width: 40%;
    }

    .action-pane {
      margin-bottom: 5px;
    }
  }
}

//buy some more space for tablet widths
@media @tablet {
  .top-pane {
    .top-pane-text-container {
      h1 {
        font-size: 3em;
      }
    }
  }
}
