@import "../../_globalstyle/_ringer-variables.less";

.select-input {
  display: flex;
  margin: 0 auto 0 auto;
  padding: 0;
  border: 1px solid @charcoal-font-color;
  border-radius: @input-border-radius;
  float: left;
  background-color: @off-white-background-2;

  transition: max-height 50ms ease-in;
  max-height: 50px;

  &.lf-roles {
    max-height: 0;
    border: none;
    // display: none;
    label {
      font-size: 0;
      padding: 0;
    }

    &.expanded {
      border: 1px solid @charcoal-font-color;
      max-height: 50px;
      label {
        font-size: inherit;
        padding: 0.5rem 1rem;
      }
    }
  }
}
